.u-section-1 .u-sheet-1 {
  min-height: 716px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 398px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-slider-1 {
  min-height: 398px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 34px;
}

.u-section-1 .u-image-1 {
  height: 338px;
  width: 537px;
  margin: 0 auto;
}

.u-section-1 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 34px;
}

.u-section-1 .u-image-2 {
  height: 338px;
  width: 537px;
  margin: 0 auto;
}

.u-section-1 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 34px;
}

.u-section-1 .u-image-3 {
  height: 338px;
  width: 537px;
  margin: 0 auto;
}

.u-section-1 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 34px;
}

.u-section-1 .u-image-4 {
  height: 338px;
  margin: 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 398px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-1 .u-image-5 {
  width: 288px;
  height: 288px;
  --radius: 50px;
  animation-timing-function: ease;
  margin: 55px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 198px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 15px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 198px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 27px;
}

.u-section-1 .u-icon-1 {
  width: 295px;
  height: 46px;
  margin: 46px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 328px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 227px;
  }

  .u-section-1 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 328px;
  }

  .u-section-1 .u-image-5 {
    width: 253px;
    height: 253px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 163px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 163px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 251px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 196px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-1 .u-image-5 {
    width: 180px;
    height: 180px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 125px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 327px;
    width: 520px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 327px;
    width: 520px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 327px;
    width: 520px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 281px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 62px;
  }

  .u-section-1 .u-image-1 {
    height: 201px;
    width: 320px;
  }

  .u-section-1 .u-image-2 {
    height: 201px;
    width: 320px;
  }

  .u-section-1 .u-image-3 {
    height: 201px;
    width: 320px;
  }

  .u-section-1 .u-image-4 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 177px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 827px;
}

.u-section-2 .u-list-1 {
  width: 851px;
  margin: 97px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(16.6667% - 28.3333px);
  grid-template-columns: repeat(6, calc(16.6667% - 28.3333px));
  min-height: 563px;
  grid-gap: 34px;
}

.u-section-2 .u-list-item-1 {
  transition-duration: 0.5s;
  --radius: 25px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 504px auto 0;
  padding: 8px 19px;
}

.u-section-2 .u-list-item-2 {
  transition-duration: 0.5s;
  --radius: 25px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 504px auto 0;
  padding: 8px 19px;
}

.u-section-2 .u-list-item-3 {
  transition-duration: 0.5s;
  --radius: 25px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 504px auto 0;
  padding: 8px 19px;
}

.u-section-2 .u-list-item-4 {
  transition-duration: 0.5s;
  --radius: 25px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-btn-4 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 504px auto 0;
  padding: 8px 19px;
}

.u-section-2 .u-list-item-5 {
  transition-duration: 0.5s;
  --radius: 25px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-btn-5 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 504px auto 0;
  padding: 8px 19px;
}

.u-section-2 .u-list-item-6 {
  transition-duration: 0.5s;
  --radius: 25px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-btn-6 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 504px auto 0;
  padding: 8px 19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(16.666666666666668% - 28.333299999999998px);
    grid-template-columns: repeat(6, calc(16.666666666666668% - 28.333299999999998px));
  }

  .u-section-2 .u-list-item-1 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-2 .u-list-item-2 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-2 .u-list-item-3 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-2 .u-list-item-4 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-2 .u-list-item-5 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-2 .u-list-item-6 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 22.66664px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 22.66664px));
    min-height: 2190px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 16.99998px);
    grid-template-columns: repeat(2, calc(50% - 16.99998px));
    min-height: 3833px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #717d7d !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #717d7d !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #717d7d !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #717d7d !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-section-2 .u-list-item-5,
.u-section-2 .u-list-item-5:before,
.u-section-2 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover:before {
  background-color: #717d7d !important;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-section-2 .u-list-item-6,
.u-section-2 .u-list-item-6:before,
.u-section-2 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover:before {
  background-color: #717d7d !important;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-block-8651-23:not([data-block-selected]):not([data-cell-selected]),
.u-block-8651-23:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8651-23:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-8651-23:not([data-block-selected]):not([data-cell-selected]).u-block-8651-23:not([data-block-selected]):not([data-cell-selected]).u-block-8651-23:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-block-8651-23:not([data-block-selected]):not([data-cell-selected]).u-block-8651-23:not([data-block-selected]):not([data-cell-selected]).u-block-8651-23:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #717d7d !important;
}

.u-block-8651-23:not([data-block-selected]):not([data-cell-selected]).u-block-8651-23:not([data-block-selected]):not([data-cell-selected]).u-block-8651-23:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-block-8651-26:not([data-block-selected]):not([data-cell-selected]),
.u-block-8651-26:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8651-26:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-8651-26:not([data-block-selected]):not([data-cell-selected]).u-block-8651-26:not([data-block-selected]):not([data-cell-selected]).u-block-8651-26:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}

.u-block-8651-26:not([data-block-selected]):not([data-cell-selected]).u-block-8651-26:not([data-block-selected]):not([data-cell-selected]).u-block-8651-26:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #717d7d !important;
}

.u-block-8651-26:not([data-block-selected]):not([data-cell-selected]).u-block-8651-26:not([data-block-selected]):not([data-cell-selected]).u-block-8651-26:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(7px) translateY(3px) scale(1.03) !important;
}